<p>
  We need your help to expand Transitland's coverage throughout the world. If you know of a feed that is not listed, click 'Add a Feed' to submit it to the Feed Registry. To report an error in an existing entry, you can send a note to <a href="mailto:transitland@mapzen.com">transitland@mapzen.com</a>
</p>


<p>
Looking for machine-readable JSON instead? The {{json-endpoint "/how-it-works/#slide-3" "Datastore API"}} can provide all these {{json-endpoint "operators"}} or all these {{json-endpoint "feeds"}}.</p>

<p class="legal-action">This list is provided for informational purposes only and does not constitute legal advice. We do not guarantee the accuracy or reliability of the Feed Registry whatsoever. You are advised to consult with your own legal counsel before using and relying on the information provided in the Feed Registry.</p>
