footer {
  width: 100%;
  bottom: 0;
  background-color: #eee;
  display: inline-block;
  background-image:url('../images/ferry_bg.png');
  background-position: center bottom;
  background-repeat: repeat-x;
  .container {
    color: #666;
    margin: 0 auto;
    padding: 40px 0;
    max-width: 800px;
  }

  ul {
  list-style-type: none;
  padding: 0 0;
  font-weight: 400;
    h6 {
      font-weight: 600;
      text-transform: uppercase;
    }
    li {
      width: 100%;
      line-height: 1.8;
      font-weight: 400;
      a {
        color: $mz-gray;
      }
    }
  }
  .fa { padding-right:5px; }
}

@include media-query($on-ipad) {
  footer {
  .container {
    height: 100%;
    padding-left: 30px;
    ul {
      display: inline-block;
      }
    }
  }
}

@include media-query($on-palm) {


}