html,body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  font-family: $base-font-family;
  overflow-x: hidden;
  overflow-y: scroll;
}

div,section{
  -moz-box-sizing : border-box;
  box-sizing : border-box;
}

section {
  position: relative;
  width: 100%;
  display: inline-block; //for first-animation
  float: left;
}


a {
  text-decoration: none;
  color: nth($logo-colors,4);
  &:hover{
    text-decoration: none;
  }
}

h2 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 2px;
  display: inline;
  margin:0 auto;
}

h3{
  font-weight: 700;
  font-size:24px;
  letter-spacing: 1.3px;
}

.col-1 { color:$logo-color-1; }
.col-2 { color:$logo-color-2; }
.col-3 { color:$logo-color-3; }
.col-4 { color:$logo-color-4; }
.col-5 { color:$logo-color-5; }

.white-text{color:#fff;}
.center-text{text-align: center;}


::-moz-selection,::selection {
   background-color: #ccc;
   color: #fff;
}




.jumbotron {
  background-color: #fff;
  padding: 75px 0;
  .container{
    max-width:1030px;
  }
}

.btn-transparent {
  background: transparent; /* transparent button */
  border:1px solid black;
  border-radius: 0px;
  color: #000000;
  padding: 2px 20px;
  font-size:16px;
  font-weight:400;
}

.btn-transparent:hover {
  background-color: #cecece;
  box-shadow:0px 0px;
  color:#000;
}

.btn-action {
  background-color: nth($logo-colors,4);
  padding: 10px 20px;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;

  &:hover, &:focus {
    background-color: darken($logo-color-4, 20%);
    color: #fff;
  }
}

.filterInfoContainer{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.filterInfo{
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
  strong{
   color:$logo-color-3;
  }
}


@include media-query($on-ipad) {

  .jumbotron { margin: 0 0 0 0; }
  .navbar-header { margin-top:$spacing-unit; }
  .navbar-toggle { margin-top:$spacing-unit; }
}
@include media-query($on-pad) {
  .jumbotron {
    height: auto;
    padding: $spacing-unit 0;
  }
  section {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
  }
}
