<div class="filterInfoContainer">
  <div class="filterInfoSubcontainer">
    <div class="filterInfo">
      {{#if supportedImportLevel}}
        {{#if feedImportLevelFour}}
          You are viewing <strong>only the feed{{#if pluralOperators}}s{{/if}} that are routable</strong>. Operator shape, stop points, route lines, and schedule data are also available from these feeds.
        {{else}}
          You are viewing <strong>only</strong> the {{totalOperators}} feed{{#if pluralOperators}}s{{/if}} with {{#if feedImportLevelZero}} operator shape{{/if}}{{#if feedImportLevelOne}}, stop points, {{#unless feedImportLevelTwo}}and{{/unless}} route lines{{/if}}{{#if feedImportLevelTwo}}, and schedule{{/if}} data available.
        {{/if}}
      {{else}}
        You are filtering by an unsupported import level.
      {{/if}}
    </div>
  </div>
</div>