
.cta-container {
  width: 110%;
  padding: 30px;
  margin: 0px -5% 30px -5%;
  background-color: #eee;
  display: table;

  @include media-query($on-small-screen) {
    width: 100%;
    margin: 10px 0;
  }

  .cta-text {
    display: table-cell;
  }

  .cta-btn {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
  }
}
