
.cta-container {
  width: 110%;
  padding: 30px;
  margin: 0px -5% 30px -5%;
  background-color: #eee;
  display: table;

  .cta-text {
    display: table-cell;
  }

  .cta-btn {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
  }
}
