
.cta-container {
  width: 100%;
  padding: 30px;
  margin: 20px 0;
  border: 3px solid $grey-color-light;
  display: table;

  .cta-text {
    display: table-cell;
  }

  .cta-btn {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
  }
}
