.fullvw-wrapper {
	width: 100 vw;
}

.caption {
	//because of italic style, it looks bit off without indentation
	text-indent: 5px;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: $base-font-weight;
	font-style: italic;
	color: $grey-color;
}

.direction-btn-wrapper {
	margin-top: 40px;

	.btn {
		background-color: $logo-color-3;
		color: #fff;
		border: 0;
		outline: 0;
		margin: 3px;
		box-shadow: 0;
		border-radius: 0;
		text-align: center;

		&:hover, &:focus {
			background-color: darken($logo-color-3, 20%);
		}

		&:focus {
			outline: 1px solid rgba(82,168,236,.4);
			box-shadow: 0 0 8px rgba(82,168,236,.8) !important;
		}
		&:disabled {
			background-color: $grey-color;
			color: $grey-color-light;
		}
	}


	.disabled {
		background-color: $grey-color;
		color: $grey-color-light;
	}

	/*submit feed*/
	.btn-submit {
		padding: 15px 100px;
		font-size: 18px;
	}

}

.success {
  position: absolute;
  text-align: center;
  width: 100%;
}


.input-form-wrapper {
	font-family: $base-font-family;
	font-size: 16px;
	color: #333333;
	font-weight: normal;
	line-height: $base-line-height;
	border: 2px solid $grey-color-light;

	//this is to have row inside of this wrapper
	padding-left: 15px;
	padding-right: 15px;

	margin-bottom: 20px;

	//Put bottom border for row inside of input-form-wrapper unless it is last child element

	.row:not(:last-child) {
		border-bottom: 2px solid $grey-color-light;
	}
	.row.yes {
		//this color is tweaked from $logo-color-5 variable, to be background color.
		background-color: lighten($logo-color-3, 30%);//#d7e5da;
		display: flex;
		align-items: center;
	}
	.row.no {
		background-color: $grey-color-light;
		display: flex;
		align-items: center;
	}
	.yes-no-group {
		padding: 10px 0;
	}
	//put right border for cols inside of input-form-wrapper unless it is last child element
	div[class^='col-']:not(:last-child) {
		border-right: 2px solid $grey-color-light;
		@include media-query($on-pad) {
			//no right border on tablet
			border: 0;
		}
		&.no-border {
			//this input is inline
			border: 0;
		}
	}

	.ember-text-field{
		color: #333333;
		border: 0;
		padding: 0;
		padding-left: 5px;
		width: 100%;
		&:focus{
			outline: 1px solid rgba(82,168,236,.4);
			box-shadow: 0 0 8px rgba(82,168,236,.4) !important;
		}
	}

	.input-form-label{
		color: #888;
		text-transform: uppercase;
		letter-spacing: 0.9px;
		font-size: 14px;
		padding: 10px 0px 3px 5px;
	}
	.input-form-field{
		padding: 3px 3px 10px 3px;
		font-size: 18px;
	}
	.input-form-guide{
		background: $grey-color-light;
		padding: 10px 20px;
	}

	.btn{
		background-color: #fdfdfd;
		//sharing text value as class, capitalizing 'yes, no' here.
		text-transform: capitalize;
	}
	.btn.active, .btn:active{
		background-color: $grey-color;
		//bootstrap default add slight shadow inside of active button, disabling it
		box-shadow: none;
		&.yes {
			background-color: darken($logo-color-3,20%);
		}
		&.no {
			// if different color is needed for 'no' toggle
		}
		color: $grey-color-light;
	}
	.btn-group{
		 margin-left: 15px;
	}
}

textarea{
	width:100%;
	padding:10px;
	outline:0px;
	border:10px;
}

.add-operator-info {
	margin-top: 80px;
	margin-bottom: 40px;
	p {
		font-size: 18px;
		line-height: 1.5em;
	}
}

/* ian: error handling for gtfs feed*/
.has-error {
  .row {
    border-color: #d2837d;
  }
  .error {
    padding: 8px;
    font-weight: bold;
    background: #edccca;
  }
  .warning {
    padding: 8px;
    font-weight: bold;
    background: #f7ecca;
  }
}
