.fullvw-wrapper {
	margin-left: calc(50% - 50vw);
	width: 100 vw;

}
.row{
	padding:0;
}
.p {
	text-align: center;
	margin: 40px 50px 40px 50px;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: $base-font-weight;
}
.email-caption {
	text-align: left;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: $base-font-weight;
	color: $grey-color;
}
.email-input-form {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	background-color: #ffffff;
	border: 0;

	/*.row {
		border: 2px solid $grey-color-light;
	}*/
	.input-form-label{
		color: $logo-color-3;
		padding: 5px 0px 3px 5px;
	}
	.ember-text-field{
		color: $grey-color;
		border: 0;
		padding: 5px 0px 3px 5px;
		width: 100%;
		&:focus{
			outline: none;
		}

	}

	.btn{
		background-color: $grey-color;
		color: $grey-color-light;
		border: 0;
		outline: 0;
		margin: 3px;
		box-shadow: 0;
		border-radius: 0;
		text-align: center;

		&:hover {
			color: $logo-color-3;
			background-color: $grey-color;


		}

		&:focus {
			color: $logo-color-1;
			background-color: $grey-color;
		}
		
	}

}
.success {
	/*left: 0;*/
    position: absolute;
    text-align: center;
    width: 100%;
    /*margin-top: 50px;*/
}


.input-form {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	background-color: #ffffff;
	border-top: 2px solid $grey-color-light;
	border-left: 2px solid $grey-color-light;

	.input-section {
		border-right: 2px solid $grey-color-light;

	}

	.row {
		border-bottom: 2px solid $grey-color-light;
	}
	.input-form-label{
		color: $logo-color-3;
		padding: 5px 0px 3px 5px;
	}
	.input-form-field{
		color: $grey-color;
		padding: 3px 3px 3px 3px;
	}

	.input-form-guide{
		color: $grey-color;
		background: $grey-color-light;
		text-align: center;
		padding: 5px 0px 3px 5px;


	}
	.btn{
		background-color: #fdfdfd;
	}
}




div[class^='col-'],div[class*=' col-']{
	padding: 0;
}

.add-operator-info p{
	text-align: center;
	margin: 40px 50px 40px 50px;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: $base-font-weight;
}
