///these colors are borrowed from bootstrap

$error-color: #a94442;
$error-bg-color: #f2dede;
$warn-color: #8a6d3b;
$warn-bg-color: #fcf8e3;

.input-form-wrapper {

  border: 2px solid $grey-color-light;

  //this is to have row inside of this wrapper
  padding-left: 15px;
  padding-right: 15px;

  margin-bottom: 5px;

  position: relative;


  //Put bottom border for row inside of input-form-wrapper unless it is last child element
  .row:not(:last-child) {
    border-bottom: 2px solid $grey-color-light;
  }

  .row.yes {
    background-color: lighten($logo-color-3, 30%);//#d7e5da;
  }

  .inline-items {
    display: flex;
    align-items: center;
  }

  .row.no {
    background-color: $grey-color-light;
  }

  .row.warn {
    outline: 2px solid $warn-color;
  }
  .row.error {
    outline: 2px solid $error-color;
  }
  //put right border for cols inside of input-form-wrapper unless it is last child element
  div[class^='col-']:not(:last-child) {
    border-right: 2px solid $grey-color-light;
    @include media-query($on-pad) {
      //no right border on tablet
      border: 0;
    }
    &.inline-label {
      //this input is inline
      border: 0;
    }
    &.inline-label > .input-form-label {
      //inline label is being centered with display: flex, of parnt row, so we should disable label's own padding
      padding: 0;
    }

  }

  .ember-text-field{
    color: #333333;
    border: 0;
    padding: 5px;
    width: 100%;
    &:focus{
      outline: 1px solid rgba(82,168,236,.4);
      box-shadow: 0 0 8px rgba(82,168,236,.4) !important;
    }
  }

  .ember-power-select {
    //text field has 5px padding on top and bottom, and power select is inline with the text field
    //this margin is to balance with that padding
    margin: 5px 0;
  }

  .input-form-label{
    color: #888;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    font-size: 14px;
    padding: 10px 0px 3px 5px;
  }
  .input-form-field{
    padding: 3px 3px 10px 3px;
    font-size: 18px;
  }
  .input-form-guide{
    background: $grey-color-light;
    padding: 10px 20px;
  }

  .btn-group {
    padding: 10px 0;
    margin-left: 15px;
  }

  .btn {
    background-color: #fdfdfd;
    //sharing text value as class, capitalizing 'yes, no' here.
    text-transform: capitalize;
  }
  .btn.active, .btn:active{
    background-color: $grey-color;
    //bootstrap default add slight shadow inside of active button, disabling it
    box-shadow: none;
    &.yes {
      background-color: darken($logo-color-3,20%);
    }
    &.no {
      // if different color is needed for 'no' toggle
    }
    color: $grey-color-light;
  }
}


@mixin warn-msg($color, $bg-color) {
  background-color: $bg-color;
  color: $color;
  width: 100%;
  position: absolute;
  top: -39px;
  margin-left: -15px;
  outline: 2px solid $color;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.error-tip {
  @include warn-msg($error-color,  $error-bg-color);
}

.warning-tip {
  @include warn-msg($warn-color, $warn-bg-color);
}

.feed-exists-warning {
  background-color: $warn-bg-color;
  color: $warn-color;
  width: 100%;
  margin-bottom: 25px;
  outline: 2px solid $warn-color;
  padding: 10px;
  font-size: 14px;
}

/* ian: error handling for gtfs feed*/
.has-error {
  .row {
    outline: 2px solid #f2dede;
  }
  .error {
    padding: 8px;
    font-weight: bold;
    background: #edccca;
  }
  .warning {
    padding: 8px;
    font-weight: bold;
    background: #f7ecca;
  }
}


