.tooltip {
  width: 170px;
  height: auto;
  position: absolute;
  text-align: left;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
  padding: 10px 15px;
  top: 40px;
  left: -30px;
  background-color: #bbb;
  z-index: 10;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 1px 0px rgba(50, 50, 50, 0.75);
}
.tooltip-point {
  content: ' ';
  position: absolute;
  top: 30px;
  left: 0px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #bbb;
}


.operator-page {

  color: #444;
  h3 {
    letter-spacing: 1px;
  }
  h3.agency-name {
    font-weight: 700;
    font-size: 26px;
    margin: 10px 0;
  }
  h4.detail {
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
  }

  .agency-table, .operator-table {
    table-layout: fixed;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 16px;
    letter-spacing: -0.3px;
    width: 100%;

    tr {
      &:nth-child(even) {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;

      }
    }
    td {
      padding: 5px 7px;
      &:first-child {
        font-weight: 400;
        text-align: right;
        color: #666;
      }
    }

  .question-circle {
    width: 15px;
    height: 22px;
    float: right;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ijg3NiAtODc2IDE3OTIgMTc5MiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyA4NzYgLTg3NiAxNzkyIDE3OTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOiNDQ0NDQ0M7fQ0KPC9zdHlsZT4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xOTAwLDUwMFYzMDhjMC05LjMtMy0xNy05LTIzcy0xMy43LTktMjMtOWgtMTkyYy05LjMsMC0xNywzLTIzLDlzLTksMTMuNy05LDIzdjE5MmMwLDkuMywzLDE3LDksMjMNCglzMTMuNyw5LDIzLDloMTkyYzkuMywwLDE3LTMsMjMtOVMxOTAwLDUwOS4zLDE5MDAsNTAweiBNMjE1Ni0xNzJjMC01OC43LTE4LjUtMTEzLTU1LjUtMTYzcy04My4yLTg4LjctMTM4LjUtMTE2cy0xMTItNDEtMTcwLTQxDQoJYy0xNjIsMC0yODUuNyw3MS0zNzEsMjEzYy0xMCwxNi03LjMsMzAsOCw0MmwxMzIsMTAwYzQuNyw0LDExLDYsMTksNmMxMC43LDAsMTktNCwyNS0xMmMzNS4zLTQ1LjMsNjQtNzYsODYtOTINCgljMjIuNy0xNiw1MS4zLTI0LDg2LTI0YzMyLDAsNjAuNSw4LjcsODUuNSwyNnMzNy41LDM3LDM3LjUsNTljMCwyNS4zLTYuNyw0NS43LTIwLDYxcy0zNiwzMC4zLTY4LDQ1Yy00MiwxOC43LTgwLjUsNDcuNS0xMTUuNSw4Ni41DQoJUzE2NDQsOTkuMywxNjQ0LDE0NHYzNmMwLDkuMywzLDE3LDksMjNzMTMuNyw5LDIzLDloMTkyYzkuMywwLDE3LTMsMjMtOXM5LTEzLjcsOS0yM2MwLTEyLjcsNy4yLTI5LjIsMjEuNS00OS41DQoJYzE0LjMtMjAuMywzMi41LTM2LjgsNTQuNS00OS41YzIxLjMtMTIsMzcuNy0yMS41LDQ5LTI4LjVzMjYuNy0xOC43LDQ2LTM1czM0LjItMzIuMyw0NC41LTQ4czE5LjctMzUuOCwyOC02MC41DQoJUzIxNTYtMTQyLjcsMjE1Ni0xNzJ6IE0yNTQwLDIwYzAsMTM5LjMtMzQuMywyNjcuOC0xMDMsMzg1LjVTMjI3NS4yLDYxNi4zLDIxNTcuNSw2ODVjLTExNy43LDY4LjctMjQ2LjIsMTAzLTM4NS41LDEwMw0KCXMtMjY3LjgtMzQuMy0zODUuNS0xMDNjLTExNy43LTY4LjctMjEwLjgtMTYxLjgtMjc5LjUtMjc5LjVTMTAwNCwxNTkuMywxMDA0LDIwczM0LjMtMjY3LjgsMTAzLTM4NS41czE2MS44LTIxMC44LDI3OS41LTI3OS41DQoJYzExNy43LTY4LjcsMjQ2LjItMTAzLDM4NS41LTEwM3MyNjcuOCwzNC4zLDM4NS41LDEwM2MxMTcuNyw2OC43LDIxMC44LDE2MS44LDI3OS41LDI3OS41UzI1NDAtMTE5LjMsMjU0MCwyMHoiLz4NCjwvc3ZnPg0K);
    background-size: 15px 15px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    &:hover {
      color: #898989;
      &:before {
        @extend .tooltip-point;
      }
      &.onestop-id-tooltip:after {
        content: 'Onestop IDs are globally unique identifiers for transit feeds, operators, routes, and stops. Use them to query the Transitland API or use them in your own apps and analyses. More info on Github.';
        @extend .tooltip;
      }
      &.attribution-text-tooltip:after {
        content: "This feed's license requires you to include this text wherever you use its data.";
        @extend .tooltip;
      }
    }
    }
  }

  .agency-table {

    td {
      &:first-child {
        width: 120px;
      }
    }
  }

  .operator-table {

    td { 
      word-wrap: break-word;
      
      &:first-child {
        width: 170px;
      }
    }
  }
}