.operator-page {

  color: $mz-darkgray;
  h3 {
    letter-spacing: 1px;
  }
  h3.agency-name {
    font-weight: 700;
    font-size: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h4.detail {
    font-size: 26px;
    font-weight: 400;
    margin: 30px 0 0 0;
  }

  .agency-table, .feed-table {
    table-layout: fixed;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    td:first-child {
      padding: 2px 10px 2px 2px;
      font-weight: 400;
    }

    .fa-question-circle {
      color: $mz-gray;
      cursor: pointer;
      position: relative;
    }

    .fa-question-circle:hover:after {
      content: 'The Onestop ID scheme is an attempt to label and connect data about public transit that are coming from many agencies, around the world. ';
      width: 220px;
      height: 120px;
      position: absolute;
      color: #fff;
      font-size: 14px;
      line-height: 1.2em;
      padding: 10px;
      top: 20px;
      left: 0px;
      background-color: rgba(0,0,0,0.7);
    }
  }

  .agency-table {
    margin-bottom: 60px;
  }

  .feed-table {
    margin-top : 5px;

    tr {
      border-bottom: 1px solid #eaeaea;
    }
    td { word-wrap: break-word;}
  }
}