.fullvw-wrapper {
	width: 100 vw;
}

.p {
	text-align: center;
	margin: 40px 50px 40px 50px;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: $base-font-weight;
}

.email-caption {
	text-align: left;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: $base-font-weight;
	color: $grey-color;
}