html,body{
  width:100%;
  height:100%;
}
body{
  font-family:$base-font-family;
  overflow-x:hidden;
  overflow-y:scroll;
}

div,section{
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;
  -ms-box-sizing : border-box;
  box-sizing : border-box; 
}

::-moz-selection,::selection {
   background-color: #ccc;
   color: #fff;
}

section{
  position: relative;
  width: 100%;
  display: inline-block;
  float:left;
}

.jumbotron{
  margin:0 0 $footer-h 0;
  background-color:#fff;
  padding:75px 0;
}

.jumbotron .container{
  max-width:1030px;
}

a{
  text-decoration: none;
  color:nth($logo-colors,4);
  &:hover{
    text-decoration: none;
  }
}

h2{
  font-weight:700;
  font-size:32px;
  letter-spacing: 2px;
  display:inline;
  vertical-align: middle;
  margin:0 auto;
}

h3{
  font-weight: 700;
  letter-spacing: 1.3px;
  font-size:24px;
}

.col-1{color:$logo-color-1;}
.col-2{color:$logo-color-2;}
.col-3{color:$logo-color-3;}
.col-4{color:$logo-color-4;}
.col-5{color:$logo-color-5;}

.blue-bg{background-color: $logo-color-3;}
.orange-bg{background-color: $logo-color-4;}

.white-text{color:#fff;}
.center-text{text-align: center;}

 .title {
    margin-bottom: 60px;
    margin-top: 45px;
}
@include media-query($on-ipad){
  .jumbotron{
    margin:0 0 0 0;
  }
  .navbar-header{margin-top:$spacing-unit;}
  .navbar-toggle{margin-top:$spacing-unit;}
}
@include media-query($on-pad){
  .jumbotron{  
    height:auto;
    padding:$spacing-unit 0;
  }
  #index-2.jumbotron{  
    padding:$spacing-unit*4 0;
  }
  #index-3.jumbotron{  
    padding:$spacing-unit*4 0;
  }
  #index-4.jumbotron{  
    padding:$spacing-unit*4 0;
  }
  section{
    position: relative;
    width: 100%;
    height:auto;
    display: block;
  }
  .row{
    margin-left:0px;
  }
}
