.back-to-main {
  margin: 140px 0 0 0;
}

.animation {
  width: 100%;
  height: 68px;
  background-repeat: repeat-x;
  background-size: 1392px 40px;
  background-position: 0% 20px;
	background-image: url("/assets/images/animation/bus_bg.png");
  position: relative;
  -webkit-animation: moveToRight 12s infinite;
  animation: moveToRight 12s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;

  font-size: 18px;
  text-transform: uppercase;

}

.vehicle {
  width: 101px;
  height: 68px;
  background-image: url("/assets/images/animation/bus.png");
  background-position: 0% 20px;
  background-repeat: no-repeat;
  position: absolute;
}

@keyframes moveToRight {
  from {
    background-position: 0% 20px;
  }
  to {
    background-position: -1392px 20px;
  }
}

@-webkit-keyframes moveToRight {
  from {
    background-position: 0% 20px;
  }
  to {
    background-position: -1392px 20px;
  }
}

