<div class="title col-md-12 center-text">
  <h2>FEED REGISTRY</h2>
</div>

<p>The Feed Registry lists all the transit operators and feeds included in Transitland. See what each feed's license will allow you to do with it and click through to get more details about the data included in the feed.</p>
<p>
This is an incomplete list, and we need your help to expand our coverage to other parts of the world. Don't see your favorite transit operator on the list? Please add it. Don't see a feed listed for your favorite transit operator? Please add that, too.</p>
<p>
Looking for machine-readable JSON instead? The Datastore API can provide all these operators or all these feeds.</p>