<div class="title col-md-12 center-text">
  <h2>FEED REGISTRY</h2>
</div>

<p>The Feed Registry lists all the transit operators and feeds included in Transitland. See what each feed's license will allow you to do with it and click through to get more details about the data included in the feed.</p>
