<div class="title col-md-12 center-text">
  <h2>FEED REGISTRY</h2>
</div>

<p>The Feed Registry lists all the transit operators and feeds included in Transitland. See what each feed's license will allow you to do with it and click through to get more details about the data included in the feed.</p>

{{#if importLevelFilterExists}}
	{{#if supportedLevel}}
		{{#if feedImportLevelFour}}
		<p>You are viewing <strong>only feeds that are routable</strong> using <a href="https://mapzen.com/products/turn-by-turn/">Mapzen Turn-by-Turn</a>. Operator shape, stop points, route lines, and schedule data are also available from these feeds.</p>
		{{else}}
		<p>You are viewing feeds with {{#if feedImportLevelZero}} operator shape{{/if}}{{#if feedImportLevelOne}}, stop points, {{#unless feedImportLevelTwo}}and{{/unless}} route lines{{/if}}{{#if feedImportLevelTwo}}, and schedule{{/if}} data available.</p>
		{{/if}}
	{{else}}
		<p>You are filtering by an unsupported import level.</p>
	{{/if}}
	{{#link-to "index" (query-params import_level="")}}
		{{fa-icon icon="fa-caret-left"}} View All Feeds
	{{/link-to}}
{{/if}}