{{intro-copy}}

{{country-count operators=model.operators}}

<main>
	{{operator-table operators=model.operators}}

</main>

{{closing-copy}}



{{#if editingMode}} 
	{{#link-to "feeds.new" class="btn btn-default" role="button"}}
		Add a Feed
	{{/link-to}}
{{/if}}