{{intro-copy}}

{{country-count operators=model.operators}}

<main>
	{{operator-table operators=model.operators}}

</main>

{{closing-copy}}



{{#if editingMode}} 
	{{#link-to "operators.new" class="btn btn-default" role="button"}}
		Add an Operator
	{{/link-to}}
{{/if}}