<div class="fullvw-wrapper">
	{{add-feed-tabs header-text="ADD A TRANSIT FEED" upload-tab-class="tab" add-operator-tab-class="tab-current" license-tab-class="tab" submit-tab-class="tab" submitted=false}}
</div>

<div class="add-operator-info">
	<p>
		Transitland checked your feed and found the following number of operators: {{model.operators.length}}. Review the information below and provide additional details about each operator and location it serves. All fields are required unless otherwise indicated.
	</p>
</div>

<div>
	{{#each operator in model.operators}}
		{{operator-form operator=operator singleOperator=singleOperator}}
		<br>
	{{/each}}
</div>
<br>
<!-- if one or more operator is selected to include in feed -->

<div class="container email-input-form">
	<div class="row" align="left">
		{{#if minimumOperator}}
			{{#link-to 'feeds.new.license' class="btn btn-default"}}
					Next >
			{{/link-to}}
		{{else}}
			<div class="btn-disabled">Please include at least one operator.</div>
		{{/if}}
	</div>
</div>
<!-- display button asking to include at least one operator -->
