<div class="fullvw-wrapper">
	{{add-feed-tabs header-text="ADD A TRANSIT FEED" upload-tab-class="tab" add-operator-tab-class="tab-current" license-tab-class="tab" submit-tab-class="tab" submitted=false}}
</div>

<div class="add-operator-info">
	<p>
		We've fetched the GTFS feed from that URL, parsed it, and listed out the {{model.operators.length}} operator(s) listed in the feed. For each operator, please check its detail and add in any extra information about its location.
	</p>
</div>

<div>
	{{#each operator in model.operators}}
		{{operator-form operator=operator}}
		<br>
	{{/each}}
</div>
<br>
<div class="container email-input-form">
	<div align="right">
		{{#link-to 'feeds.new.license' class="btn btn-default"}}
				Next >
		{{/link-to}}
	</div>
</div>
