<div class="container" align="center">
	<h2>Feed Status Report</h2>
	<p>Mixed-use bus rapid transit congestion pricing placemaking. Big data smart cities urban growth boundary. Tactical guerrilla parklets. Built environment central business district business improvement district transit oriented development. Stakeholder engagement smart growth.</p>
<img src="images/2_taxi.png">
</div>



<div class="containter" align="center">
	<h3>Agencies: {{model.length}} Countries: 12 Unique Countries: 3</h3>

</div>

<div class="container" align="right">
	<div class="row-sm-2 col-md-1">
		<input type="text" class="form-control" placeholder="search">
		<button>License</button>
		<button>License Details</button>
	</div>
</div>
<main>

{{feed-table operators=model}}


</main>


<!-- {{outlet}} -->

