{{head-layout}}
{{title "Transitland · Feed Registry" separator=" · "}}
{{outlet}}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> technology </h6>
              <li><a href="/feed-registry">Feed Registry</a></li>
              <li><a href="/documentation/datastore/">Datastore</a></li>
              <li><a href="/documentation/onestop-id-scheme/">Onestop ID scheme</a> </li>
              <!-- TODO: <li><a href="/gallery">Gallery of Projects</a> </li> -->
              <li><a href="https://mobility-explorer.interline.io">Mobility Explorer</a> </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> legal </h6>
              <li><a href="/an-open-project"> An Open Project</a></li>
              <li><a href="/an-open-project/contributor-agreement.html">Data Contributor Agreement</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> resources </h6>
              <li><a href="/news">News & Updates </a></li>
              <li><a href="/documentation/">Documentation</a> </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> participate </h6>
              <li><i class="fa fa-smile-o"></i> <a href="/participate">How to Participate</a></li>
              <li> <i class="fa fa-github-alt"></i> <a href="//github.com/transitland">GitHub</a></li>
              <li> <i class="fa fa-twitter"></i> <a href="//twitter.com/transitland">Twitter</a> </li>
              <li> <i class="fa fa-envelope-o"></i> <a href="mailto:hello@transit.land">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mapzen-text">
      Transitland source code is &copy; <a href="https://mapzen.com">Mapzen Foundation</a>, a project of <a href="https://www.linuxfoundation.org/">The Linux Foundation</a>. Transitland website and platform are operated by <a href="https://www.interline.io">Interline Technologies</a>.
    </div>
  </div>
</footer>
