{{outlet}}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> technology </h6>
              <li><a href="/feed-registry">Feed Registry</a></li>
              <li><a href="/documentation/datastore/">Datastore</a></li>
              <li><a href="/playground">Playground</a> </li>
              <li><a href="/documentation/onestop-id-scheme/">Onestop ID scheme</a> </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> legal </h6>
              <li><a href="/an-open-project"> An Open Project</a></li>
              <li><a href="/an-open-project/developer-agreement.html">API Developer Agreement</a></li>
              <li><a href="/an-open-project/contributor-agreement.html">Data Contributor Agreement</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> resources </h6>
              <li><a href="/news">News & Updates </a></li>
              <li><a href="/documentation/">Documentation</a> </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> participate </h6>
              <li><i class="fa fa-smile-o"></i> <a href="/participate">How to Participate</a></li>
              <li> <i class="fa fa-github-alt"></i> <a href="//github.com/transitland">GitHub</a></li>
              <li> <i class="fa fa-twitter"></i> <a href="//twitter.com/transitland">Twitter</a> </li>
              <li> <i class="fa fa-envelope-o"></i> <a href="mailto:transitland@mapzen.com">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mapzen-text">
      Transitland is sponsored by <a href="https://mapzen.com">Mapzen</a>.
    </div>
  </div>
</footer>
