<div class="fullvw-wrapper">
	{{add-feed-tabs header-text="SUCCESS!" submitted=false upload-tab-class="tab" add-operator-tab-class="tab" license-tab-class="tab-current" submit-tab-class="tab" submitted=true}}
</div>
<div class="add-operator-info">
	<p>
		Thank you for adding a feed! We have created a changeset to review on Transitland.
		<br>
		<br>
		{{#link-to 'index'}}Return to the Feed Registry{{/link-to}}
	</p>
</div>
