<div class="fullvw-wrapper">
  {{add-feed-tabs header-text="SUCCESS!" submitted=false upload-tab-class="tab" add-operator-tab-class="tab" license-tab-class="tab current" submit-tab-class="tab" submitted=true}}
</div>

<div class="container">
  <div class="add-operator-info">
    <p>
      Thank you for submitting a feed to Transitland!
    <br>
    <br>
    Next, the Transitland team will review the feed you submitted and import it into the Feed Registry. Occasionally, there are issues with the import process that could cause a delay or make the feed unsuitable for posting on Transitland.
    <br>
    <br>
    If you provided your contact information, you will be notified when your feed is part of the Transitland Feed Registry.
      <br>
      <br>
      {{#link-to 'index'}}Return to the Feed Registry{{/link-to}}
    </p>
  </div>
</div>