<!-- <div class="checkbox">
	{{#if agreeToTerms}} 
		<label>
			<input type="checkbox" {{action 'agree'}} checked value="" class="pull-right">
			I agree to the terms of service.
		</label>
	{{else}}
		<label>
			<input type="checkbox" {{action 'agree'}} value="" class="pull-right">
			I agree to the terms of service.
		</label>
	{{/if}}
</div> -->