.table-container {
  width: 110%;
  margin-left: -5%;
  margin-right: -5%;

  thead {
    background-color: #d3d3d3;

    th {
      border-right: 1px solid #bbb;
      border-bottom:1px solid #bbb;
      &.sortable {
        cursor: pointer;
        position: relative;
        &::after {
          content: ' ';
          position: absolute;
          float:right;
          right: 10px;
          top: 8px;
          width: 20px;
          height: 20px;
          background-image: url('/images/sort-icon.png');
          background-size: 40px 20px;
          
       }
      }
    }
    th:last-child {
      border-right: 0;
    }
  }

  tbody {
    tr {
      td {
        border-right: 1px solid #bbb;
      }
      td:last-child {
        border-right: 0;
      }
    }

  }
}

@include media-query($on-small-screen){
  .table-container {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}

