<table class="table table-striped">
  <thead>
    <tr>
      <th {{action "sortBy" "municipality"}}>Agency Name</th>
      <th {{action "sortBy" "name"}}>Region</th>
      <th>License</th>
      <th>License Details</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    {{#each operator in operators}}
  	  {{feed-table/feed-row operator=operator}}
  	{{/each}} 
  </tbody>
</table>
