<div class = "table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class = "sort-up" {{action "sortBy" "name"}}>Agency Name </th>
        <th class = "sort-down" {{action "sortBy" "municipality"}}>Region </th>
        <th class = "not-sorted" {{action "sortBy" "feed.license_name"}}>License</th>
        <th>License Details</th>
        <!-- <th>Links</th> -->
      </tr>
    </thead>
    <tbody>
      {{#each operator in sortedOperators}}
    	  {{feed-table/feed-row operator=operator}}
    	{{/each}} 
    </tbody>
  </table>
</div>