.input-form {
	font-family: $base-font-family;
	line-height: $base-line-height;
	background-color: #ffffff;
	.input-form-label{
		color: $logo-color-3;
		padding: 0px 0px 3px 5px;
	}
	.ember-text-field{
		color: #333333;
		font-size: 16px;
		font-weight: normal;
		border: 0;
		padding: 0px 0px 3px 5px;
		width: 100%;
		&:focus{
			outline: none;
		}
	}

	.label {
		color: $logo-color-3;
		padding: 0px 0px 3px 5px;
	}

	.input-form-guide{
		color: $grey-color;
		background: $grey-color-light;
		text-align: center;
		padding: 0px 0px 3px 5px;
	}
}

.ember-power-select-trigger{
	color: #333333;
	font-size: 16px;
	font-weight: normal;

}

.label {
		color: $logo-color-3;
		padding: 0px 0px 3px 5px;
	}

.form-caption {
		text-align: left;
		font-family: $base-font-family;
		font-size: $base-font-size;
		font-style: italic;
		line-height: $base-line-height;
		font-weight: $base-font-weight;
		color: $grey-color;
	}