.tooltip {
  width: 170px;
  height: auto;
  position: absolute;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
  padding: 10px 15px;
  top: 40px;
  left: -30px;
  background-color: #bbb;
  z-index: 10;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 1px 0px rgba(50, 50, 50, 0.75);
}
.tooltip-point {
  content: ' ';
  position: absolute;
  top: 30px;
  left: 0px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #bbb;
}


.license-attr {

  $icon-w: 25px;
  $icon-negative-w: -25px;
  min-width: 130px;

  div {
    float:left;
    background-image: url(data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20120%20120%22%3E%3Cstyle%3E.st0%7Bfill%3A%235D8942%3B%7D%20.st1%7Bfill%3Anone%3B%7D%20.st2%7Bfill%3A%239B3042%3B%7D%20.st3%7Bfill%3A%23CDCCCC%3B%7D%3C%2Fstyle%3E%3Cg%20id%3D%22XMLID_2_%22%3E%3Cg%20id%3D%22XMLID_3_%22%3E%3Cg%20id%3D%22XMLID_15_%22%3E%3Cpath%20id%3D%22XMLID_16_%22%20class%3D%22st0%22%20d%3D%22M33.4%2011.5V11c-.2-.9-.9-1.5-1.7-1.5h-4.9c-.1%200-.2%200-.2.2v1.5c0%20.2.1.2.2.2h4c.5%200%20.8.2.8.8v18.6c0%20.5-.2.8-.7.8H9.3c-.5%200-.7-.2-.7-.8V12.2c0-.6.2-.8.8-.8h4c.1%200%20.2%200%20.2-.2V9.7c0-.2-.1-.2-.2-.2H8.5c-.9%200-1.6.7-1.7%201.5v20.4c0%20.7.3%201.3.9%201.7.2.1.4.2.7.3h23.7c.2-.1.5-.2.7-.3.6-.4.9-1%20.9-1.7-.3-7.2-.3-12.7-.3-19.9z%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22XMLID_10_%22%3E%3Cg%20id%3D%22XMLID_11_%22%3E%3Cpath%20id%3D%22XMLID_12_%22%20class%3D%22st0%22%20d%3D%22M20.3%206.6c.7.3%201.1.7%201.2%201.4%200%20.2.2.1.2.1h1.9c.7%200%201.2.4%201.2%201.1v2.2c0%20.4-.1.4-.4.5h-8.7c-.4%200-.4-.1-.4-.5V9.2c0-.7.5-1.1%201.2-1.1h1.9c.1%200%20.2.1.2-.1.1-.7.5-1.1%201.2-1.4h.5zm.4%201.5c0-.4-.3-.7-.7-.7-.4%200-.7.3-.7.7%200%20.4.3.7.7.7.4%200%20.7-.3.7-.7z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cg%20id%3D%22XMLID_8_%22%3E%3Cpath%20id%3D%22XMLID_9_%22%20class%3D%22st0%22%20d%3D%22M20.4%2019.9h-6.8c-.3%200-.4-.3-.4-.9%200-.3.1-.5.3-.5h12.6c.2%200%20.4%200%20.4.5.1.6-.1%201-.4%201-1.9-.1-3.8-.1-5.7-.1z%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22XMLID_6_%22%3E%3Cpath%20id%3D%22XMLID_7_%22%20class%3D%22st0%22%20d%3D%22M20.4%2014.6h5.8c.3%200%20.4.2.4.8%200%20.4-.1.6-.3.6H13.7c-.2%200-.4%200-.4-.6s.1-.9.4-.9c1.8.1%204.8.1%206.7.1z%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22XMLID_4_%22%3E%3Cpath%20id%3D%22XMLID_5_%22%20class%3D%22st0%22%20d%3D%22M17.3%2023.7h-3.7c-.2%200-.4-.1-.4-.7s.1-.8.4-.8H20c.2%200%20.4.1.4.7s-.1.7-.4.7c-.9.1-1.8.1-2.7.1z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M52.3%2033.4c-2.4%200-4.4-2-4.4-4.4V12c0-.6.5-1%201-1h6.8c.6%200%201%20.5%201%201v17c0%202.4-2%204.4-4.4%204.4zM49.9%2013v16c0%201.3%201.1%202.4%202.4%202.4%201.3%200%202.4-1.1%202.4-2.4V13h-4.8z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M55.7%2013h-6.8c-.6%200-1-.5-1-1V7.6c0-.6.5-1%201-1h6.8c.6%200%201%20.5%201%201V12c0%20.5-.5%201-1%201zm-5.8-2.1h4.7V8.7h-4.7v2.2z%22%2F%3E%3Cpath%20id%3D%22XMLID_31_%22%20class%3D%22st0%22%20d%3D%22M64.3%209.6c-.6%200-1-.5-1-1v-.5c0-.6.5-1%201-1s1%20.5%201%201v.5c.1.6-.4%201-1%201z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M67.7%2033.4c-.2%200-.5%200-.7-.1-.6-.1-.9-.6-.9-1.2.1-.6.6-.9%201.2-.9h.7c.6-.1%201.1.3%201.2.9.1.6-.3%201.1-.9%201.2-.1.1-.3.1-.6.1zm3.4-2.9h-.2c-.6-.1-.9-.6-.9-1.2v-.9c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v.6c0%20.2%200%20.5-.1.7.1.5-.3.8-.8.8zm-6.7%200c-.5%200-.9-.4-1-.9%200-.2-.1-.5-.1-.7v-.5c0-.6.5-1%201-1s1%20.5%201%201v1c.1.6-.3%201.1-.9%201.2.1-.1%200-.1%200-.1zm6.7-5.3c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v1.1c.1.5-.4%201-1%201zm-6.8%200c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1s1%20.5%201%201v1.1c.1.5-.4%201-1%201zm6.8-5.3c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v1.1c.1.5-.4%201-1%201zm-6.8%200c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1s1%20.5%201%201v1.1c.1.5-.4%201-1%201zm6.8-5.4c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v1.1c.1.6-.4%201-1%201zm-6.8%200c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1s1%20.5%201%201v1.1c.1.6-.4%201-1%201z%22%2F%3E%3Cpath%20id%3D%22XMLID_21_%22%20class%3D%22st0%22%20d%3D%22M71.1%209.6c-.6%200-1-.5-1-1v-.5c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v.5c.1.6-.4%201-1%201z%22%2F%3E%3Cpath%20id%3D%22XMLID_20_%22%20class%3D%22st0%22%20d%3D%22M54.6%2017.4h9.5v2.1h-9.5z%22%2F%3E%3Cpath%20id%3D%22XMLID_19_%22%20class%3D%22st0%22%20d%3D%22M46.6%206.6h11.3v2.1H46.6z%22%2F%3E%3Cpath%20id%3D%22XMLID_18_%22%20class%3D%22st0%22%20d%3D%22M64.3%208.7h-1.2c-.6%200-1-.5-1-1%200-.6.5-1%201-1h1.2c.6%200%201%20.5%201%201%20.1.5-.4%201-1%201z%22%2F%3E%3Cpath%20id%3D%22XMLID_17_%22%20class%3D%22st0%22%20d%3D%22M68.2%208.7h-.9c-.6%200-1-.5-1-1%200-.6.5-1%201-1h.9c.6%200%201%20.5%201%201s-.5%201-1%201z%22%2F%3E%3Cpath%20id%3D%22XMLID_1_%22%20class%3D%22st0%22%20d%3D%22M72.4%208.7h-1.2c-.6%200-1-.5-1-1%200-.6.5-1%201-1h1.2c.6%200%201%20.5%201%201s-.5%201-1%201z%22%2F%3E%3Cg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M113.4%2011.1c0-2.5-2-4.5-4.5-4.5s-4.5%202-4.5%204.5c0%202.1%201.4%203.8%203.4%204.3v3.5h-3.4c-.5-1.9-2.3-3.4-4.4-3.4-2.1%200-3.9%201.4-4.4%203.4h-5.8v5.8c-1.9.5-3.3%202.2-3.3%204.3%200%202.5%202%204.4%204.4%204.4%202.5%200%204.4-2%204.4-4.4%200-2.1-1.4-3.8-3.4-4.3v-3.5h3.5c.5%201.9%202.3%203.4%204.3%203.4%202.1%200%203.9-1.4%204.4-3.4h5.7v-5.7c2.2-.6%203.6-2.3%203.6-4.4zM93.3%2028.9c0%201.2-1%202.2-2.2%202.2-1.2%200-2.2-1-2.2-2.2%200-1.2%201-2.2%202.2-2.2%201.2%200%202.2%201%202.2%202.2zm-1.2-3.2zm7.9-3.4c-1.2%200-2.3-1-2.3-2.3%200-1.3%201-2.3%202.3-2.3%201.3%200%202.3%201%202.3%202.3%200%201.3-1%202.3-2.3%202.3zm9-9c-1.2%200-2.2-1-2.2-2.2s1-2.2%202.2-2.2c1.2%200%202.2%201%202.2%202.2s-1%202.2-2.2%202.2z%22%2F%3E%3Cpath%20id%3D%22XMLID_36_%22%20class%3D%22st1%22%20d%3D%22M92.2%2025.7%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20id%3D%22XMLID_47_%22%20class%3D%22st2%22%20d%3D%22M33.4%2051.5V51c-.2-.9-.9-1.5-1.7-1.5h-4.9c-.1%200-.2%200-.2.2v1.5c0%20.2.1.2.2.2h4c.5%200%20.8.2.8.8v18.6c0%20.5-.2.8-.7.8H9.3c-.5%200-.7-.2-.7-.8V52.2c0-.6.2-.8.8-.8h4c.1%200%20.2%200%20.2-.2v-1.5c0-.2-.1-.2-.2-.2H8.5c-.9%200-1.6.7-1.7%201.5v20.4c0%20.7.3%201.3.9%201.7.2.1.4.2.7.3h23.7c.2-.1.5-.2.7-.3.6-.4.9-1%20.9-1.7-.3-7.2-.3-12.7-.3-19.9z%22%2F%3E%3Cpath%20class%3D%22st2%22%20d%3D%22M20.3%2046.6c.6.2%201.1.7%201.2%201.4%200%20.2.2.1.2.1h1.9c.7%200%201.2.4%201.2%201.1v2.2c0%20.4-.1.4-.4.5h-8.7c-.4%200-.4-.1-.4-.5v-2.2c0-.7.5-1.1%201.2-1.1h1.9c.1%200%20.2.1.2-.1.1-.7.5-1.1%201.2-1.4h.5zm.4%201.5c0-.4-.3-.7-.7-.7-.4%200-.7.3-.7.7%200%20.4.3.7.7.7.4%200%20.7-.3.7-.7z%22%2F%3E%3Cpath%20id%3D%22XMLID_44_%22%20class%3D%22st2%22%20d%3D%22M20.4%2059.9h-6.8c-.3%200-.4-.3-.4-.9%200-.3.1-.5.3-.5h12.6c.2%200%20.4%200%20.4.5.1.6-.1%201-.4%201-1.9-.1-3.8-.1-5.7-.1z%22%2F%3E%3Cpath%20id%3D%22XMLID_43_%22%20class%3D%22st2%22%20d%3D%22M20.4%2054.6h5.8c.3%200%20.4.2.4.8%200%20.4-.1.6-.3.6H13.7c-.2%200-.4%200-.4-.6s.1-.9.4-.9c1.8.1%204.8.1%206.7.1z%22%2F%3E%3Cpath%20id%3D%22XMLID_42_%22%20class%3D%22st2%22%20d%3D%22M17.3%2063.7h-3.7c-.2%200-.4-.1-.4-.7s.1-.8.4-.8H20c.2%200%20.4.1.4.7s-.1.7-.4.7c-.9.1-1.8.1-2.7.1z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20id%3D%22XMLID_53_%22%20class%3D%22st3%22%20d%3D%22M33.4%2091.5V91c-.2-.9-.9-1.5-1.7-1.5h-4.9c-.1%200-.2%200-.2.2v1.5c0%20.2.1.2.2.2h4c.5%200%20.8.2.8.8v18.6c0%20.5-.2.8-.7.8H9.3c-.5%200-.7-.2-.7-.8V92.2c0-.6.2-.8.8-.8h4c.1%200%20.2%200%20.2-.2v-1.5c0-.2-.1-.2-.2-.2H8.5c-.9%200-1.6.7-1.7%201.5v20.4c0%20.7.3%201.3.9%201.7.2.1.4.2.7.3h23.7c.2-.1.5-.2.7-.3.6-.4.9-1%20.9-1.7-.3-7.2-.3-12.7-.3-19.9z%22%2F%3E%3Cpath%20class%3D%22st3%22%20d%3D%22M20.3%2086.6c.6.2%201.1.7%201.2%201.4%200%20.2.2.1.2.1h1.9c.7%200%201.2.4%201.2%201.1v2.2c0%20.4-.1.4-.4.5h-8.7c-.4%200-.4-.1-.4-.5v-2.2c0-.7.5-1.1%201.2-1.1h1.9c.1%200%20.2.1.2-.1.1-.7.5-1.1%201.2-1.4h.5zm.4%201.5c0-.4-.3-.7-.7-.7-.4%200-.7.3-.7.7%200%20.4.3.7.7.7.4%200%20.7-.3.7-.7z%22%2F%3E%3Cpath%20id%3D%22XMLID_50_%22%20class%3D%22st3%22%20d%3D%22M20.4%2099.9h-6.8c-.3%200-.4-.3-.4-.9%200-.3.1-.5.3-.5h12.6c.2%200%20.4%200%20.4.5.1.6-.1%201-.4%201-1.9-.1-3.8-.1-5.7-.1z%22%2F%3E%3Cpath%20id%3D%22XMLID_49_%22%20class%3D%22st3%22%20d%3D%22M20.4%2094.6h5.8c.3%200%20.4.2.4.8%200%20.4-.1.6-.3.6H13.7c-.2%200-.4%200-.4-.6s.1-.9.4-.9c1.8.1%204.8.1%206.7.1z%22%2F%3E%3Cpath%20id%3D%22XMLID_48_%22%20class%3D%22st3%22%20d%3D%22M17.3%20103.7h-3.7c-.2%200-.4-.1-.4-.7s.1-.8.4-.8H20c.2%200%20.4.1.4.7s-.1.7-.4.7c-.9.1-1.8.1-2.7.1z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20class%3D%22st2%22%20d%3D%22M52.3%2073.4c-2.4%200-4.4-2-4.4-4.4V52c0-.6.5-1%201-1h6.8c.6%200%201%20.5%201%201v17c0%202.4-2%204.4-4.4%204.4zM49.9%2053v16c0%201.3%201.1%202.4%202.4%202.4%201.3%200%202.4-1.1%202.4-2.4V53h-4.8z%22%2F%3E%3Cpath%20class%3D%22st2%22%20d%3D%22M55.7%2053h-6.8c-.6%200-1-.5-1-1v-4.3c0-.6.5-1%201-1h6.8c.6%200%201%20.5%201%201V52c0%20.5-.5%201-1%201zm-5.8-2.1h4.7v-2.3h-4.7v2.3z%22%2F%3E%3Cpath%20id%3D%22XMLID_69_%22%20class%3D%22st2%22%20d%3D%22M64.3%2049.6c-.6%200-1-.5-1-1v-.5c0-.6.5-1%201-1s1%20.5%201%201v.5c.1.6-.4%201-1%201z%22%2F%3E%3Cpath%20class%3D%22st2%22%20d%3D%22M67.7%2073.4c-.2%200-.5%200-.7-.1-.6-.1-.9-.6-.9-1.2.1-.6.6-.9%201.2-.9h.7c.6-.1%201.1.3%201.2.9.1.6-.3%201.1-.9%201.2-.1.1-.3.1-.6.1zm3.4-2.9h-.2c-.6-.1-.9-.6-.9-1.2v-.9c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v.6c0%20.2%200%20.5-.1.7.1.5-.3.8-.8.8zm-6.7%200c-.5%200-.9-.4-1-.9%200-.2-.1-.5-.1-.7v-.5c0-.6.5-1%201-1s1%20.5%201%201v1c.1.6-.3%201.1-.9%201.2.1-.1%200-.1%200-.1zm6.7-5.3c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v1.1c.1.5-.4%201-1%201zm-6.8%200c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1s1%20.5%201%201v1.1c.1.5-.4%201-1%201zm6.8-5.3c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v1.1c.1.5-.4%201-1%201zm-6.8%200c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1s1%20.5%201%201v1.1c.1.5-.4%201-1%201zm6.8-5.4c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v1.1c.1.6-.4%201-1%201zm-6.8%200c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1s1%20.5%201%201v1.1c.1.6-.4%201-1%201z%22%2F%3E%3Cpath%20id%3D%22XMLID_59_%22%20class%3D%22st2%22%20d%3D%22M71.1%2049.6c-.6%200-1-.5-1-1v-.5c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v.5c.1.6-.4%201-1%201z%22%2F%3E%3Cpath%20id%3D%22XMLID_58_%22%20class%3D%22st2%22%20d%3D%22M54.6%2057.4h9.5v2.1h-9.5z%22%2F%3E%3Cg%3E%3Cpath%20id%3D%22XMLID_57_%22%20class%3D%22st2%22%20d%3D%22M46.6%2046.6h11.3v2.1H46.6z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20id%3D%22XMLID_56_%22%20class%3D%22st2%22%20d%3D%22M64.3%2048.7h-1.2c-.6%200-1-.5-1-1%200-.6.5-1%201-1h1.2c.6%200%201%20.5%201%201%20.1.5-.4%201-1%201z%22%2F%3E%3Cpath%20id%3D%22XMLID_55_%22%20class%3D%22st2%22%20d%3D%22M68.2%2048.7h-.9c-.6%200-1-.5-1-1%200-.6.5-1%201-1h.9c.6%200%201%20.5%201%201s-.5%201-1%201z%22%2F%3E%3Cpath%20id%3D%22XMLID_54_%22%20class%3D%22st2%22%20d%3D%22M72.4%2048.7h-1.2c-.6%200-1-.5-1-1%200-.6.5-1%201-1h1.2c.6%200%201%20.5%201%201s-.5%201-1%201z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20class%3D%22st2%22%20d%3D%22M113.4%2051.1c0-2.5-2-4.5-4.5-4.5s-4.5%202-4.5%204.5c0%202.1%201.4%203.8%203.4%204.3v3.5h-3.4c-.5-1.9-2.3-3.4-4.4-3.4-2.1%200-3.9%201.4-4.4%203.4h-5.8v5.8c-1.9.5-3.3%202.2-3.3%204.3%200%202.5%202%204.4%204.4%204.4%202.5%200%204.4-2%204.4-4.4%200-2.1-1.4-3.8-3.4-4.3v-3.5h3.5c.5%201.9%202.3%203.4%204.3%203.4%202.1%200%203.9-1.4%204.4-3.4h5.7v-5.7c2.2-.6%203.6-2.3%203.6-4.4zM93.3%2068.9c0%201.2-1%202.2-2.2%202.2-1.2%200-2.2-1-2.2-2.2%200-1.2%201-2.2%202.2-2.2%201.2%200%202.2%201%202.2%202.2zm-1.2-3.2zm7.9-3.4c-1.2%200-2.3-1-2.3-2.3%200-1.3%201-2.3%202.3-2.3%201.3%200%202.3%201%202.3%202.3%200%201.3-1%202.3-2.3%202.3zm9-9c-1.2%200-2.2-1-2.2-2.2%200-1.2%201-2.2%202.2-2.2%201.2%200%202.2%201%202.2%202.2%200%201.2-1%202.2-2.2%202.2z%22%2F%3E%3Cpath%20id%3D%22XMLID_74_%22%20class%3D%22st1%22%20d%3D%22M92.2%2065.7%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20class%3D%22st3%22%20d%3D%22M52.3%20113.4c-2.4%200-4.4-2-4.4-4.4V92c0-.6.5-1%201-1h6.8c.6%200%201%20.5%201%201v17c0%202.4-2%204.4-4.4%204.4zM49.9%2093v16c0%201.3%201.1%202.4%202.4%202.4%201.3%200%202.4-1.1%202.4-2.4V93h-4.8z%22%2F%3E%3Cpath%20class%3D%22st3%22%20d%3D%22M55.7%2093h-6.8c-.6%200-1-.5-1-1v-4.3c0-.6.5-1%201-1h6.8c.6%200%201%20.5%201%201V92c0%20.5-.5%201-1%201zm-5.8-2.1h4.7v-2.3h-4.7v2.3z%22%2F%3E%3Cpath%20id%3D%22XMLID_95_%22%20class%3D%22st3%22%20d%3D%22M64.3%2089.6c-.6%200-1-.5-1-1v-.5c0-.6.5-1%201-1s1%20.5%201%201v.5c.1.6-.4%201-1%201z%22%2F%3E%3Cpath%20class%3D%22st3%22%20d%3D%22M67.7%20113.4c-.2%200-.5%200-.7-.1-.6-.1-.9-.6-.9-1.2.1-.6.6-.9%201.2-.9h.7c.6-.1%201.1.3%201.2.9.1.6-.3%201.1-.9%201.2-.1.1-.3.1-.6.1zm3.4-2.9h-.2c-.6-.1-.9-.6-.9-1.2v-.9c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v.5c0%20.2%200%20.5-.1.7.1.6-.3.9-.8.9zm-6.7%200c-.5%200-.9-.4-1-.9%200-.2-.1-.5-.1-.7v-.5c0-.6.5-1%201-1s1%20.5%201%201v.9c.1.6-.3%201.1-.9%201.2.1%200%200%200%200%200zm6.7-5.3c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v1.1c.1.5-.4%201-1%201zm-6.8%200c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1s1%20.5%201%201v1.1c.1.5-.4%201-1%201zm6.8-5.3c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v1.1c.1.5-.4%201-1%201zm-6.8%200c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1s1%20.5%201%201v1.1c.1.5-.4%201-1%201zm6.8-5.4c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v1.1c.1.6-.4%201-1%201zm-6.8%200c-.6%200-1-.5-1-1v-1.1c0-.6.5-1%201-1s1%20.5%201%201v1.1c.1.6-.4%201-1%201z%22%2F%3E%3Cpath%20id%3D%22XMLID_85_%22%20class%3D%22st3%22%20d%3D%22M71.1%2089.6c-.6%200-1-.5-1-1v-.5c0-.6.5-1%201-1%20.6%200%201%20.5%201%201v.5c.1.6-.4%201-1%201z%22%2F%3E%3Cpath%20id%3D%22XMLID_84_%22%20class%3D%22st3%22%20d%3D%22M54.6%2097.4h9.5v2.1h-9.5z%22%2F%3E%3Cg%3E%3Cpath%20id%3D%22XMLID_83_%22%20class%3D%22st3%22%20d%3D%22M46.6%2086.6h11.3v2.1H46.6z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20id%3D%22XMLID_82_%22%20class%3D%22st3%22%20d%3D%22M64.3%2088.7h-1.2c-.6%200-1-.5-1-1%200-.6.5-1%201-1h1.2c.6%200%201%20.5%201%201%20.1.5-.4%201-1%201z%22%2F%3E%3Cpath%20id%3D%22XMLID_81_%22%20class%3D%22st3%22%20d%3D%22M68.2%2088.7h-.9c-.6%200-1-.5-1-1%200-.6.5-1%201-1h.9c.6%200%201%20.5%201%201s-.5%201-1%201z%22%2F%3E%3Cpath%20id%3D%22XMLID_80_%22%20class%3D%22st3%22%20d%3D%22M72.4%2088.7h-1.2c-.6%200-1-.5-1-1%200-.6.5-1%201-1h1.2c.6%200%201%20.5%201%201s-.5%201-1%201z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20class%3D%22st3%22%20d%3D%22M113.4%2091.1c0-2.5-2-4.5-4.5-4.5s-4.5%202-4.5%204.5c0%202.1%201.4%203.8%203.4%204.3v3.5h-3.4c-.5-1.9-2.3-3.4-4.4-3.4-2.1%200-3.9%201.4-4.4%203.4h-5.8v5.8c-1.9.5-3.3%202.2-3.3%204.3%200%202.5%202%204.4%204.4%204.4%202.5%200%204.4-2%204.4-4.4%200-2.1-1.4-3.8-3.4-4.3v-3.5h3.5c.5%201.9%202.3%203.4%204.3%203.4%202.1%200%203.9-1.4%204.4-3.4h5.7v-5.7c2.2-.6%203.6-2.3%203.6-4.4zm-20.1%2017.8c0%201.2-1%202.2-2.2%202.2-1.2%200-2.2-1-2.2-2.2%200-1.2%201-2.2%202.2-2.2%201.2%200%202.2%201%202.2%202.2zm-1.2-3.2zm7.9-3.4c-1.2%200-2.3-1-2.3-2.3%200-1.3%201-2.3%202.3-2.3%201.3%200%202.3%201%202.3%202.3%200%201.3-1%202.3-2.3%202.3zm9-9c-1.2%200-2.2-1-2.2-2.2%200-1.2%201-2.2%202.2-2.2%201.2%200%202.2%201%202.2%202.2%200%201.2-1%202.2-2.2%202.2z%22%2F%3E%3Cpath%20id%3D%22XMLID_100_%22%20class%3D%22st1%22%20d%3D%22M92.2%20105.7%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-size: $icon-w*3 $icon-w*3;
    background-repeat: no-repeat;
    width: $icon-w;
    height: $icon-w;
    margin-right: 5px;

    position: relative;
    &.requires-attr {
      background-position: 0px 0px;
      &:hover {
        &:before {
          @extend .tooltip-point;
        }
        &:after {
          content: 'When using, be sure to credit the transit agency. Check license for exact requirements.';
          @extend .tooltip;
        }
      }
    }
    &.not-requires-attr {
      background-position: 0px $icon-negative-w;
      &:hover {
        &:before {
          @extend .tooltip-point;
        }
        &:after {
         content: 'When using, it is optional to credit the transit agency.';
          @extend .tooltip;
        }
      }
    }
    &.unknown-requires-attr {
      background-position: 0px $icon-negative-w*2;
      &:hover {
        &:before {
          @extend .tooltip-point;
        }
        &:after {
          content: 'Unknown whether agency requires attribution.';
          @extend .tooltip;
        }
      }
    }
    &.allow-derivation {
      background-position: $icon-negative-w 0px;
      &:hover {
        &:before {
          @extend .tooltip-point;
        }
        &:after {
          content: 'You may create a derived data product from this feed.';
          @extend .tooltip;
        }
      }
    }
    &.not-allow-derivation {
      background-position: $icon-negative-w $icon-negative-w;
      &:hover{
        &:before {
          @extend .tooltip-point;
        }
        &:after {
          content: 'You may NOT create a derived data product from this feed.';
          @extend .tooltip;
        }
      }
    }
    &.unknown-allow-derivation {
      background-position: $icon-negative-w $icon-negative-w*2;
      &:hover {
        &:before {
          @extend .tooltip-point;
        }
        &:after {
          content: 'Unknown whether agency allows you to create derived data products from this feed.';
          @extend .tooltip;
        }
      }
    }

    &.allow-redistribution {
      background-position: $icon-negative-w*2 0px;
      &:hover {
        &:before {
          @extend .tooltip-point;
        }
        &:after {
          content: 'You may redistribute this feed.';
          @extend .tooltip;
        }
      }
    }
    &.not-allow-redistribution {
      background-position: $icon-negative-w*2 $icon-negative-w;
      &:hover {
        &:before {
          @extend .tooltip-point;
        }
        &:after {
          content: 'You may NOT redistribute this feed. Check license for exceptions.';
          @extend .tooltip;
        }
      }
    }
    &.unknown-allow-redistribution{
      background-position: $icon-negative-w*2 $icon-negative-w*2;
      &:hover {
        &:before {
          @extend .tooltip-point;
        }
        &:after {
          content: 'Unknown whether agency allows you to redistribute this feed.';
          @extend .tooltip;
        }
      }
    }
  }
}
td.link {
  a {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    color: white;
    background-color: #444444;
    border-color: rgba(0,0,0,0.2);
    border-width: 1px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 5px 15px;

    &.upload-btn {
      background-color: $mz-blue;
    }
    &.link-btn {

    }
  }
}