<style>
.svg {
  width: 100%;
}
svg {
  width: 100%;
  transform: scale(1.5, 1.5);
  stroke: #c91e42;
  animation-name: changeColor;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeColor {
  0% {stroke: #f7ae56;}
  15% {stroke: #c91e42;}
  30% {stroke: #60C6D5;}
  50% {stroke: #ee914b;}
  70% {stroke: #66ad2a;}
  90% {stroke:#9f5bcc;}
}
</style>


<section>
	<div class="container">
		<div class="title col-md-12 center-text">
			<h2>Page Not Found</h2>
		</div>
    <div style = "padding-top: 50px" class="float-center">
      <div class = "svg">
        <svg version="1.1"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="291.052px" height="160px" viewBox="0 0 291.052 160" enable-background="new 0 0 291.052 160">
          <path id="p" fill="none" stroke-width="3.5" stroke-miterlimit="10" d="M224.717,98.598 c2.475,2.066,5.319,3.688,8.513,4.219c2.157,0.357,4.554,0.624,6.346-0.868c2.505-2.086,1.627-4.681-1.167-5.833 c-6.327-2.606-13.489,2.974-19.5,4.915c-8.493,2.743-17.481,4.071-26.375,2.892c-7.396-0.98-14.143-4.002-21.118-6.406 c-1.417-0.489-2.845-0.952-4.288-1.368c-23.553-6.78-47.267-10.984-70.519-1.06c-5.686,2.428-11.367,5.554-17.197,8.254 c-5.383,2.491-10.894,4.621-16.657,5.501c-5.887,0.9-12.787-0.961-12.754-5.47c0.02-3.054,4.204-4.572,6.604-5.021 c1.962-0.368,3.991-0.395,6.057-0.184c5.541,0.564,11.339,2.823,16.765,4.726c2.218,0.775,4.374,1.495,6.425,2.013 c8.366,2.114,16.865,3.696,25.454,4.552c9.734,0.97,22.906,1.145,33.625-3.947c4.838-2.298,10.048-5.533,12.3-10.522 c2.809-6.222,2.521-14.432-1.729-19.908c-5.742-7.401-17.498-7.338-23.31-0.589c-6.131,7.118-5,18.561,1.619,25.177 c2.755,2.753,6.252,4.731,10.017,5.869c6.007,1.812,14.731,1.482,20.177-1.274c3.451-1.748,6.115-4.104,8.196-6.872 c3.49-4.645,5.333-10.447,6.482-16.473c1.012-5.308,1.585-10.771,2.879-16.019c1.476-5.984,5.27-12.954,11.691-14.564 c9.773-2.447,15.791,8.978,17.856,16.578c2.706,9.958,3.372,21.04,10.756,28.961C222.751,96.828,223.704,97.751,224.717,98.598"/>
          <circle r="4" fill="#ffffff" stroke="#000000" stroke-width="2" fill-opacity="0.9">
            <animateMotion id="forward" 
              dur="10s" begin="0s"  fill="freeze"
              keyPoints="0.3;1;0;0.3"
              keyTimes="0;0.7;0.7;1"
              calcMode="linear" 
              repeatCount="indefinite">
            <mpath xlink:href="#p"/>
            </animateMotion>
          </circle>
        </svg>
      </div>
      <p class="desc">
         The page you were looking for appears to have been moved, deleted or does not exist. Please use the navigation above or go back to the <a href="https://transit.land">homepage</a>. 
      </p>
    </div>
	</div>
</section>