<div class = "count-container">
  <div class = "unit-wrapper">
  	<div class="number-count"> 
      {{uniqueOperatorCountries.length}}
    </div> 
    <div class = "unit"> countries </div>
  </div>
  <div class = "unit-wrapper">
    <div class = "number-count">
     {{operators.length}}
    </div>
    <div class = "unit"> agencies </div>
  </div>
</div>