<div class = "count-container">
  <div class = "unit-wrapper">
  	<div class="number-count"> 
      {{uniqueOperatorCountries.length}}
    </div> 
    <div class = "unit"> 
    {{#if singleCountry}}
      country
    {{else}}
      countries 
    {{/if}}
    </div>
  </div>
  <div class = "unit-wrapper">
    <div class = "number-count">
     {{operators.length}}
    </div>
    <div class = "unit"> operators </div>
  </div>
</div>