.ember-power-select-trigger{
	display: table-cell;
	vertical-align: middle;
	border-radius: 0;
	height: 40px;
}

.ember-basic-dropdown{
	display: table;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

