<div class="page-container operator-page" align="center">
	<h1>
		FEED DETAIL FOR: {{operator.name}}
	</h1>

{{#link-to "feeds"}}
	<button class="btn btn-default" type="button">Return to All Feeds</button>
{{/link-to}}

</div>

