.table-container {
  width: 110%;
  margin-left: -5%;
  margin-right: -5%;
  margin-bottom: 50px;
  font-size: 16px;

  thead {
    background-color: #d3d3d3;

    th {
      border-right: 1px solid #bbb;
      border-bottom:1px solid #bbb;

      //license has too long content now
      &.license {
        width: 200px;
      }

      @mixin sort-icon {
        cursor: pointer;
        position: relative;

        &::after {
          content: ' ';
          position: absolute;
          right: 5px;
          top: 10px;
          width: 20px;
          height: 20px;
          background-image: url(data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20120%2040%22%3E%3Cstyle%3E.st0%7Bfill%3A%23242D32%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M69.2%2017.4H50.8c-.3%200-.6-.2-.8-.5-.1-.3-.1-.7.1-.9l9.2-10.7c.3-.4%201-.4%201.3%200L69.8%2016c.2.2.3.6.1.9-.1.3-.4.5-.7.5zm-16.5-1.7h14.6L60%207.1l-7.3%208.6z%22%2F%3E%3Cpath%20id%3D%22XMLID_7_%22%20class%3D%22st0%22%20d%3D%22M69.9%2023.1c-.1-.3-.4-.5-.8-.5H50.9c-.3%200-.6.2-.8.5-.1.3-.1.7.1.9l9.2%2010.7c.2.2.4.3.6.3s.5-.1.6-.3L69.8%2024c.2-.2.3-.6.1-.9z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M109.2%2017.4H90.8c-.3%200-.6-.2-.8-.5-.1-.3-.1-.7.1-.9l9.2-10.7c.3-.4%201-.4%201.3%200l9.2%2010.7c.2.2.3.6.1.9-.1.3-.4.5-.7.5zm-16.5-1.7h14.6L100%207.1l-7.3%208.6zM100%2035c-.2%200-.5-.1-.6-.3L90.2%2024c-.2-.2-.3-.6-.1-.9.1-.3.4-.5.8-.5h18.3c.3%200%20.6.2.8.5.1.3.1.7-.1.9l-9.2%2010.7c-.2.2-.5.3-.7.3zm-7.3-10.7l7.3%208.5%207.3-8.5H92.7z%22%2F%3E%3Cg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M20%2035c-.2%200-.5-.1-.6-.3L10.2%2024c-.2-.3-.3-.6-.1-.9.1-.3.4-.5.8-.5h18.3c.3%200%20.6.2.8.5.1.3.1.7-.1.9l-9.2%2010.7c-.2.2-.5.3-.7.3zm-7.3-10.7l7.3%208.5%207.3-8.5H12.7z%22%2F%3E%3Cpath%20id%3D%22XMLID_1_%22%20class%3D%22st0%22%20d%3D%22M29.8%2016L20.6%205.3c-.1-.2-.4-.3-.6-.3-.2%200-.5.1-.6.3L10.2%2016c-.2.3-.3.6-.1.9.1.3.4.5.8.5h18.3c.3%200%20.6-.2.8-.5.1-.3%200-.7-.2-.9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
          background-size: 60px 20px;
       }
      }
      &.sort-up {
        @include sort-icon;
      }
      &.sort-down {
        @include sort-icon;
        &::after {
          background-position: 40px 0;
        }
      }
      &.not-sorted {
        @include sort-icon;
        &::after {
          background-position: 20px 0;
        }
      }
    }
    th:last-child {
      border-right: 0;
    }
  }

  tbody {
    tr {
      td {
        border-right: 1px solid #bbb;
      }
      td:last-child {
        border-right: 0;
      }
    }

  }
}

@include media-query($on-small-screen){
  .table-container {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}

