<section id="add-operator" class="jumbotron">
  {{outlet feedExists=feedExists}}
</section>
{{#if feedExists}}
	<p>feeds/new/template feedExists</p>
{{else}}
	<p>no feeds/new/template feedExists</p>
{{/if}}