.add-feed-nav{
	padding: 0;
	margin: 0;
	display: inline-block;
	background-color: $grey-color-dark;
	width: 100vw;


	.add-feed-nav-title {
		padding: 80px 0;
		text-align: center;
		color: #ffffff;
	}

	.row {
		text-align: center;
		margin-bottom: 0;
	}

	.tab {
		width: 15%;
		color: $grey-color;
		font-size: 18px;
		display: inline-block;
		background-color: $grey-color-dark;
		margin: 0;
		margin-left: 10px;
		padding-bototm: 5px;
		border-bottom: 5px solid;
	}

	.tab-current {
		width: 15%;
		font-size: 18px;
		display: inline-block;
		background-color: $grey-color-dark;
		margin: 0;
		margin-left: 10px;
		border-bottom: 5px solid;
		color: $logo-color-1;
		border-color: $logo-color-1;
	}
}
