.add-feed-nav{
	padding: 0;
	margin: 0;
	display: inline-block;
	background-color: $grey-color-dark;
	width: 100vw;
	

	.add-feed-nav-title {
		padding-top: 20px;
		padding-bottom: 40px;
		text-align: center;
		color: #ffffff;
	}

	.row {
		text-align: center;
		margin-bottom: 0;
	}

	.tab {
		color: $grey-color;
		outline: 0;
		width: 15%;
		display: inline-block;
		background-color: $grey-color-dark;
		margin: 0;
		margin-left: 10px;
		border-bottom: 5px solid;
		box-shadow: 0;
		border-radius: 0;
	}

	.tab-current {
		outline: 0;
		width: 15%;
		display: inline-block;
		background-color: $grey-color-dark;
		margin: 0;
		margin-left: 10px;
		border-bottom: 5px solid;
		box-shadow: 0;
		border-radius: 0;
		color: $logo-color-1;
		border-color: $logo-color-1;
	}
}
